/* La div cartes entière */
#cards {
    display: flex;
    flex-direction: column;
    background-color: #597EAA;
    position: relative; /* Pour rendre la position absolute relative à cette div */
}

#cards > div {
    /*border: 2px solid red;*/
    margin: 1.5%;
}

#cards input {
    font-family: Balsamiq Sans;
    width: 50%;
    box-sizing: border-box;
    border: 2px solid black;
    padding: 2px;
}

/* CSS des boutons de cartes */
.button {
    height: 100%;
    border: 2px solid black;
    cursor: pointer;
}

#cards p,
#cards button {
    font-family: Balsamiq Sans;
}

#divSearch {
    order: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.search-wrapper {
    display: flex;
    align-items: center;
}

.search-icon {
    padding: 2px;
}

.search-icon i {
    font-size: 1.2em;
}

#search-input {
    margin-right: 2%;
}


#divIdCard {
    order: 2;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}


#divPhoto {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#divPhoto button {
    margin-top: 4%;
}

#divPhoto img {
    width: 100px;
    height: 100px;
    border: 2px solid #000;
    object-fit: cover;
    object-position: center;
}



#divName {
    order: 4;
    display: flex;
    flex-direction: column;
}


#divDateSolde {
    order: 5;
    display: flex;
}

#divDate {
    flex: 1;
}

#divSolde {
    flex: 1;
}

#divCreatonValiderCrediter {
    order: 6;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
