#incident {
    background-color: #CC0000;
    display: flex;
    align-items: center;
    justify-content: center;
}

#createIncident {
    width: 46%;
    height: 90%;
    background-color: #FFFFFF;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.5%;
}

#createIncident input,
#createIncident select,
#createIncident textarea{
    margin-bottom: 10px;
    font-family: Balsamiq Sans;
    font-size: 120%;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid black;
    padding: 5px;
}

#createIncident textarea {
    resize: none;
}

#createButton {
    font-family: Balsamiq Sans;
    font-size: 100%;
    padding: 2%;
    width: 50%;
    border: 2px solid black;
    cursor: pointer;
}

#createButton:active {
    background-color: grey;
}

#checkIncident {
    width: 46%;
    height: 90%;
    background-color: #FFFFFF;
    border: 3px solid black;
    margin-left: 2%;
    overflow-y: scroll;
    padding: 2.5%;
}

.incident-info {
    margin-bottom: 10px;
    font-family: Balsamiq Sans;
    font-size: 75%;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid black;
    padding: 5px;
  }
  