#employee-container-bottom-oil {
    position: relative;
    background-color: orange;
    display: flex;
    align-items: flex-end;
    padding-bottom: 1rem;
}

/* NAME + OIL REMAINING */

#employee-container-bottom-oil-remaining {
    position: absolute;
    top: 1rem;
    right: 1rem;
    text-align: right;
    display: flex;
}

#employee-container-bottom-oil-remaining>div {
    margin-bottom: 7px;
    margin-right: 10px;
}

.oil-name {
    margin-right: 15px;
}

.oil-remaining {
    background-color: white;
    padding: 2px;
}

/* PUMP STATUS + OIL STATUS */

#employee-container-bottom-pump-status {
    width: 100%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-around;*/
    align-items: flex-end;
    gap: 3%;
    margin-left: 3%;
}

#employee-container-bottom-pump-status>div {
    width: 30%;
    height: 6.2rem;
    background-color: white;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1%;
}

.out-of-stock {
    color: red;
}

#employee-container-bottom-pump-status,
.oil-remaining,
.oil-name {
    font-family: Balsamiq Sans;
}

.status-open,
.status-close {
    margin-bottom: 5%;
}