#alertContainer {
    display: flex;
    background-color: #cc0000;
    border: solid black;
}

#alert-list {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    margin-right: 1%;
    width: 50%;
}

#alert-details {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 1%;
    margin-right: 2%;
    width: 50%;
}

.alert-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 50px;
    width: 100%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    flex-shrink: 0;
}