* {
    padding: 0;
    margin: 0;
    scrollbar-width: none;
    box-sizing: border-box;
}

body {
    width: 100vw;
}

header {
    height: 9.75vh;
}

main {
    height: 90vh;
    width: 100%;
}

#manager-container-top, #manager-container-center, #manager-container-bottom {
    width: 100%;
    display: flex;
    border-width: 1px 0px 0px 1px;
    border-color: grey;
    border-style: solid;
}

#manager-container-top div, #manager-container-center div, #manager-container-bottom div {
    height: 30vh;
    width: 33.33%;
    border-width: 0px 1px 0px 0px;
    border-color: grey;
    border-style: solid;
}

#manager-container-top div:nth-child(2) {
    width: 66.67%
}