#stationContainer {
    width: 32.67% !important;
    height: 29.33vh !important;
    margin-top: 0.25%;
    margin-bottom: 0.25%;
    margin-left: 0.25%;
    margin-right: 0.25%;
    background-color: #a64d79;
    border: thick solid black;
    border-radius: 10px;
}

.topSection {
    display: flex;
    height: 40%; /* Divise la hauteur de la div principale en deux */
    margin-top: 2%;
    margin-bottom: 1%;
    margin-left: 2%;
    margin-right: 2%;
}

.bottomSection {
    height: 47%; /* Divise la hauteur de la div principale en deux */
    margin-top: 1%;
    margin-bottom: 2%;
    margin-left: 2%;
    margin-right: 2%;
}

.leftPart {
    margin-right: 1%;
}

.rightPart {
    margin-left: 1%;
}

.leftPart, .rightPart {
    width: 50%; /* Divise la largeur de la partie haute en deux */
}