* {
    padding: 0;
    margin: 0;
    scrollbar-width: none;
    box-sizing: border-box;
}

header {
    height: 9.75vh;
}

/* ALL GRID */

body main {
    display: flex;
    height: 90vh;
}

/* RIGHT + CENTER */

body main>div {
    display: flex;
    flex-direction: column;
}

/* ALL GRID */

#employee-container-left, #employee-container-top, #employee-container-center, #employee-container-bottom {
    display: flex;
    height: 33%;
}

/* RIGHT + CENTER */

#employee-container-top div:nth-child(1), #employee-container-center div:nth-child(1), #employee-container-bottom div:nth-child(1), #employee-container-center div:nth-child(2), #employee-container-bottom div:nth-child(2), #employee-container-center div:nth-child(3), #employee-container-bottom div:nth-child(3) {
    width: 27vw;
    border-width: 1px 1px 0px 0px;
    border-color: grey;
    border-style: solid;
}

#employee-container-top div:nth-child(2) {
    width: 54vw;
    border-width: 1px 0px 0px 0px;
    border-color: grey;
    border-style: solid;
}

/* COMPLETE LEFT */

#employee-container-left {
    width: 19vw;
    height: 90vh;
    flex-direction: column;
}

#employee-container-left .calculator {
    border: 1px grey solid;
    height: 66%;
    text-align: center;
}

#employee-container-left .payment {
    border: 1px grey solid;
    height: 34%;
    text-align: center;
    border-top: none;
    padding-top: 1rem;
}